/* order */
#order {
	margin-top: 30px;
	margin-bottom: 30px;
}
#order-form{
	padding: 20px;
}
#order-form .form-control::placeholder {
    color: black; 
}
#order .form-control {
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	background-color: #ccc;
}
#order.form-control:focus {
	border-color: rgba(255,255,255,.2);
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#create-order {
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	align-items: center;
  }
#create-order:hover{
	color:#d43031;
	border: 2px solid #d43031;
	background-color: #fff;
}
/* Invoice */
.invoice-container,.invoice-table-container, .invoice-payment{
	padding: 20px;
}
.invoice-container{
	background-color: #5e5e5e31;
}
#invoice{
	border: none;
	border-radius: 10px;
	margin-top: 20px;
	padding: 20px;
	background: white;
	width: 100%;
}
#invoice p, #invoice h2, .invoice-table td{
	color:#333;
}
.invoice-head {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.invoice-head .left-column {
	flex: 1;
	text-align: left;
}
.invoice-head .right-column{
	flex: 1;
	text-align: right;
}
.invoice-table{
	width: 100%;
	border-collapse: collapse;
}
.invoice-foot .note{
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
}
.invoice-action{
	margin: 0 auto;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.invoice-table-container{
		overflow-x: scroll;
	}
}